<!DOCTYPE HTML>
<html lang="en">
      <head>
        <title>Apple</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" type="text/css" href="../menu.css">
      </head>
<body>

<header id="header">
    <nav id="top-navigation" class="container">
        <button>Menü</button>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="phone.html">iPhone</a></li>
            <li><a href="headset.html">AirPods</a></li>
            <li><a href="tablet.html">iPad</a></li>
            <li><a href="watch.html">Watch</a></li>
            <li><a href="tv.html">TV&Home</a></li>
            </ul>
    </nav>
</header>

<div class="container h-100">
    <div class="row h-100">
        <div id="mainContainer">
            <div id="contentContainer">
                <div class="itemContainer">
                    <div class="item">
                        <h2>Apple TV 4K</h2>
                        <picture>
                            <img src="../../static/img/appletv_4k.jpg" alt="appletv_4K" class="center" width="250" height="190" style="width:auto;">
                          </picture>
                          <button>Vásárlás</button>
                    </div>
                    <div class="item">
                        <h2>Apple TV HD</h2>
                        <picture>
                            <img src="../../static/img/appletv_hd.jpg" alt="appletv_HD" class="center" width="250" height="190" style="width:auto;">
                        </picture>
                        <button>Vásárlás</button>
                    </div>
                    <div class="item">
                        <h2>HomePod</h2>
                        <picture>
                            <img src="../../static/img/homepod.jpg" alt="homepod" class="center" width="250" height="190" style="width:auto;">
                          </picture>
                          <button>Vásárlás</button>
                    </div>
                </div>
                <div class="itemContainer">
                    <div class="item">
                        <h2>HomePod mini</h2>
                        <picture>
                            <img src="../../static/img/homepod_mini.jpg" alt="homepod_mini" class="center" width="250" height="190" style="width:auto;">
                        </picture>
                        <button>Vásárlás</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>